<h5 ng-hide="post.id">Agregar publicación</h5>
<h5 ng-show="post.id">Editar publicación</h5>

<div class="breadcrumb-box">
    <a ui-sref="panel.contribution" class="breadcrumb">Contribuciones</a>
    <span class="breadcrumb" ng-hide="post.id">Agregar contribución</span>
    <span class="breadcrumb" ng-show="post.id">Editar contribución</span>
</div>

<form name="postForm" ng-submit="save()" novalidate>

    <div class="input-field col s10">
        <input ng-model="post.name" type="text" name="text" required>
        <label for="title" class="">Titulo</label>
    </div>

    <div class="input-field col s10">
        <select
            ng-model="post.area"
            ng-options="area.id as area.name for area in areas"
            ng-change="loadSubjects();"
            required>
            <option ng-selected="true" value="">Selecciona un area</option>
        </select>
        <label>Area</label>
    </div>

    <div class="input-field col s10">
        <select
            ng-model="post.subject"
            ng-options="subject.id as subject.name for subject in subjects"
            required>
            <option ng-selected="true" value="">Selecciona un tema</option>
        </select>
        <label>Tema</label>
    </div>

    <div class="input-field col s10">
        <textarea name="resume" ng-model="post.resume" class="materialize-textarea"></textarea>
        <label for="resume">Resumen</label>
    </div>

    
    <div class="col s10 tabs-container">
        <ul id="tabs-swipe-demo" class="tabs">
            <li class="tab col s3"><a class="active" href="#post-content">Contenido</a></li>
            <li class="tab col s3"><a href="#post-preview">Preview</a></li>
        </ul>
        <div id="post-content" class="post-tab col s12">
            <div class="input-field">
                <textarea name="content" ng-model="post.content" class="materialize-textarea" required></textarea>
                <label for="content">Markdown soportado</label>
            </div>
        </div>
        <div id="post-preview" marked="post.content" class="post post-tab col s12"></div>
    </div>

    <div class="input-field col s10">
        <div class="autocomplete" id="multiple">
            <div class="ac-users"></div>
            <div class="ac-input">
                <input type="text" id="multipleInput" placeholder="escribe el email del usuario" data-activates="multipleDropdown" data-beloworigin="true" autocomplete="off">
            </div>
            <ul id="multipleDropdown" class="dropdown-content ac-dropdown"></ul>
            <input type="hidden" name="multipleHidden" />
        </div>
        <label class="active" for="multipleInput">Disponible para:</label>
    </div>

    <div class="input-field col s10">
        <input ng-model="post.isActive" type="checkbox" id="isActive"/>
        <label for="isActive">Activo</label>
    </div>
    
    <div class="col s10 right-align">
        <button
            class="btn waves-effect waves-light"
            type="submit"
            ng-disabled="postForm.$invalid">
            Guardar
        </button>
    </div>
</form>
