<h4 class="mdl-main-title">Agregar publicación</h4>
<div class="breadcrum">
    <a ui-sref="panel.contributions">Contribuciones</a> /
    Agregar contribución /
</div>
    <form action="#">
        <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="sample3">
                <label class="mdl-textfield__label" for="sample3">Nombre</label>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-form-textfield-container mdl-textfield--floating-label">
                <textarea class="mdl-textfield__input mdl-form-textfield" type="text" id="sample5"></textarea>
                <label class="mdl-textfield__label" for="sample5">Resumen</label>
            </div>
        </div>
    </form>
