body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

a {
    color: #00BCD4;
}

#header {
    background: #f5f5f5;
    color: white;
    font-weight: bold;
}
#header .logo-box {
    background: #2A3E61;
    padding: 13px 65px;
}

#header .logo{
    width: 40px;
}

#sidenav {
    background: #19283F;
}

.breadcrum {
    margin-bottom: 10px;
    font-size: 13px;
}

.md-nav-bar {
    height: 65px;
}
.md-button._md-nav-button {
    padding: 20px 16px; 
}
.md-nav-item:first-of-type {
    margin-left: 0;
}

.mdl-card__title-text.card-title {
    color: #fff;
    font-weight: bold;
}

.mdl-data-table {
    width: 100%;
}

.mdl-main-title {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(0,0,0,.54);
}
