body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

a {
    color: #0084d4;
}

#header {
    background: #f5f5f5;
    color: white;
    font-weight: bold;
}
#header .logo-box {
    background: #2A3E61;
    padding: 13px 65px;
}

#header .logo{
    width: 40px;
}

#sidenav {
    background: #19283F;
}

.breadcrum {
    margin-bottom: 10px;
    font-size: 13px;
}

pre {
    background: #373c3e;
    color: white;
    padding: 8px;
    border-radius: 4px;
    font-size: 13px;
}

.post {
    color: #6b6b6b;
    text-align: justify;
}

.margin-bottom-small {
    margin-bottom: 10px;
}

.md-nav-bar {
    height: 65px;
}
.md-button._md-nav-button {
    padding: 20px 16px; 
}
.md-nav-item:first-of-type {
    margin-left: 0;
}

.mdl-card__title-text.card-title {
    color: #fff;
    font-weight: bold;
}

.mdl-data-table {
    width: 100%;
}

.mdl-main-title {
    font-size: 20px;
    font-weight: bold;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(0,0,0,.54);
}

.mdl-button.mdl-button--colored.blue-font {
    color: #0084d4;
}

.mdl-form-textfield-container {
    width: 70%;
}

.mdl-form-textfield {
    height: 250px;
}
