<header class="demo-drawer-header">
    <h6><strong>Knowledge Base</strong></h6>
    <profile-info></profile-info>
</header>
<nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800 mdl-shadow--2dp">
    <a class="mdl-navigation__link" href="" ui-sref="panel.areas">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>
        Home
    </a>
    <a class="mdl-navigation__link" href="">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i>
        Mis aportaciones
    </a>
    <div class="mdl-layout-spacer"></div>
    <a class="mdl-navigation__link" href="">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i>
        <span class="visuallyhidden">Help</span>
    </a>
</nav>
