<div class="col s12 header-content">
    <h5>Áreas</h5>
</div>

<div class="row">
    <div class="col s12 m4" ng-repeat="area in areas">
        <a ui-sref="panel.subjects({areaId: area.id})" class="card-link">
        <div class="card">
            <div class="card-image">
                <img src="{{ area.thumbnail }}">
                <span class="card-title">{{ area.name }}</span>
            </div>
            <div class="card-content">
                <div ng-if="area.description">{{ area.description }}</div>
                <div ng-if="!area.description">Sin descripción disponible.</div>
            </div>
        </div>
        </a>
    </div>
</div>
