<div class="breadcrumb-box">
    <a ui-sref="panel.areas" class="breadcrumb">Areas</a>
    <a ui-sref="panel.subjects({areaId: area.id})" class="breadcrumb">{{ area.name }}</a>
    <span class="breadcrumb">{{ subject.name }}</span>
</div>

<h6>Publicaciones del tema:</h6>
<h5>{{ subject.name }}</h5>
<div ng-show="posts.length > 0">
    <table class="striped">
        <thead>
            <tr>
                <th data-field="name">Nombre</th>
                <th data-field="resume">Resumen</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="post in posts">
                <td>
                    <a ui-sref="panel.post({areaId: post.parentIds.areaId, subjectId: post.parentIds.subjectId, id: post.id})">{{ post.name }}</a>
                </td>
                <td>{{ post.resume }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-hide="posts.length > 0">
    <p>No existe ninguna publicación para "{{ subject.name }}"</p>
</div>
