<div class="breadcrumb-box">
    <a ui-sref="panel.areas" class="breadcrumb">Areas</a>
    <a ui-sref="panel.subjects({areaId: area.id})" class="breadcrumb">{{ area.name }}</a>
    <a ui-sref="panel.posts({areaId: area.id, subjectId: subject.id})" class="breadcrumb">{{ subject.name }}</a>
</div>

<h5>{{ post.name }}</h5>

<div class="chip">
    <img ng-show="post.author.thumbnail" src="{{ post.author.thumbnail }}">
    {{ post.author.fullName }} |
    {{ post.createdDate | date:'dd/MM/yyyy HH:mm'}}
</div>

<div class="post" marked="post.content"></div>
