<div class="col s12 header-content">
    <div class="breadcrumb-box">
        <a ui-sref="panel.areas" class="breadcrumb">Areas</a>
        <a ui-sref="panel.categories({areaId: category.area.id})" class="breadcrumb">{{ category.area.name }}</a>
        <span class="breadcrumb">{{ category.name }}</span>
    </div>

    <h6 class="header-reference">Temas de la categoría:</h6>
    <h5>{{ category.name }}</h5>
    <h6><i>{{ category.description }}</i></h6>
</div>

<div class="col s12 main-content">
    <div ng-show="subjects.length > 0">
        <table class="striped">
            <thead>
                <tr>
                    <th data-field="name">Nombre</th>
                    <th data-field="description">Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="subject in subjects">
                    <td>
                        <a ui-sref="panel.posts({areaId: subject.category.area.id, categoryId: subject.category.id, subjectId: subject.id})">{{ subject.name }}</a>
                    </td>
                    <td>{{ subject.description }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col s12" ng-hide="subjects.length > 0">
        <p>No existe ningun tema para el area {{ area.name }} :(</p>
    </div>
</div>
