<div class="breadcrumb-box">
    <a ui-sref="panel.areas" class="breadcrumb">Areas</a>
    <span class="breadcrumb">{{ area.name }}</span>
</div>

<h6>Temas del área:</h6>
<h5>{{ area.name }}</h5>

<div ng-show="subjects.length > 0">
    <table class="striped">
        <thead>
            <tr>
                <th data-field="name">Nombre</th>
                <th data-field="description">Descripción</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="subject in subjects">
                <td>
                    <a ui-sref="panel.posts({areaId: subject.parentIds.areaId, subjectId: subject.id})">{{ subject.name }}</a>
                </td>
                <td>{{ subject.description }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col s12" ng-hide="subjects.length > 0">
    <p>No existe ningun tema para el area {{ area.name }} :(</p>
</div>
